<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Msg</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="greeting: ${allGreetings}">
        <td th:text="${greeting.id}">50</td>
        <td th:text="${greeting.msg}">Some message</td>
    </tr>
    </tbody>
</table>

<br/>

Add new greeting
<form action="/app/greetings" method="post">
    Message:<br>
    <input name="msg" type="text">
    <input type="submit" value="Add New Greeting"/>
</form>

</body>
</html>